{% extends "Layout.html" %}
{% block content %}
<main class="container">
    
      <center><h1>About Us</h1></center>
      <p>Welcome to Gamer's Hangout, your ultimate destination for all things gaming!</p>
      <p>We are passionate gamers who love sharing our experiences, insights, and tips with the gaming community. Whether you're a casual player or a hardcore enthusiast, you'll find something exciting here.</p>
      <p>Our team of dedicated gamers curates the latest gaming news, reviews, and guides to keep you up to date with the gaming world.</p>

  </main>
{% endblock content%}