{% extends "Layout.html" %}
{% block content %}
    {% for blog in blogs %}
        <article class="media content-section">
            <div class="media-body">
                <div class="article-metadata">
                    <a class="mr-2 author-name" href="#">{{ blog.author.gamertag }}</a>
                    <small class="text-muted">{{ blog.date.strftime('%d-%m-%Y') }}</small>
                </div>
                <h2><a class="article-title" href="#">{{ blog.title }}</a></h2>
                <p class="article-content">{{ blog.content }}</p>
            </div>
        </article>
    {% endfor %}
{% endblock content %}
